@import "../../styles/variables.scss";
.pagination {
  position: fixed;
  z-index: 7;
  top: 43%;
  right: 20px;

  div {
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: grey;
    margin: 20px;
    transition: 0.7s ease-out;
  }

  .pagination--active {
    background: $active;
  }
}
