@import "../../../styles/variables.scss";

.c-about-svg {
  position: absolute;
  left: calc(50% - 899px);
  top: calc(50% - 1197px);
  width: 1076px;
  height: 1737px;
}

  .c-about-svg__hexagon--big {
    fill: $dark-overlay;
  }

  .c-about-svg__hexagon--center {
    fill: $color-overlay;
    stroke: #ffe32e;
  }

@include tablet-portrait {

  .c-about-svg {
    top: calc(50% - 1623px);
    left: calc(50% - 1609px);
    width: 1962px;
    height: 2323px;
  }
  
}

@include desktop {

  .c-about-svg {
    top: calc(50% - 1806px);
    left: calc(50% - 2124px);
    width: 2648px;
    height: 2427px;
  }

}
