@import "../../styles/variables.scss";

.portfolio {
 
  &__container {
    height: 100%;
    padding-bottom: 2em;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
  }

  &__container--secondary {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
  }
}

@include tablet-portrait {
  .portfolio {
    padding-top: 0;
    &__container {
      justify-content: center;
      margin-top: 5em;
      height: calc(100% - 5em);
    }

    &__container--secondary {
      flex-basis: 43%;
    }
  }

  .secondary-1 {
    justify-content: space-between;
  }
  .secondary-2 {
    justify-content: space-around;
    align-items: center;
  }
}

@include laptop {
  .portfolio {
    &__container--secondary {
      flex-basis: 37%;
      height: 1900px;
    }
  }
}

@include desktop {
  .portfolio {
    &__container--secondary {
      flex-basis: 40%;
      height: 2400px;
    }
  }
}
