@import "../../styles/variables.scss";

.l-portfolio__container {
  height: 100%;
  padding-bottom: 2em;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}

  .l-portfolio__column {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
  }


@include tablet-portrait {

   .l-portfolio {
    padding-top: 0;
   }
    
    .l-portfolio__container{
      justify-content: center;
      margin-top: 5em;
      height: calc(100% - 5em);
    }

      .l-portfolio__column {
        flex-basis: 43%;
      }

      .l-portfolio__column--left {
        justify-content: space-between;
      }

      .l-portfolio__column--right {
        justify-content: space-around;
        align-items: center;
      }

}

@include laptop {

  .l-portfolio__column {
    flex-basis: 37%;
    height: 1900px;
  }
 
}

@include desktop {

  .l-portfolio__column {
    flex-basis: 40%;
    height: 2400px;
  }

}
