$dark-overlay: rgba(0, 0, 0, 0.8);
$light-overlay: rgba(255, 255, 255, 0.9);
$color-overlay: rgba(255, 222, 0, 0.88);
$active: rgb(255, 222, 0);

@mixin phone-landscape {
  @media (min-width: 700px) and (min-height: 200px) {
    @content;
  }
}

@mixin tablet-portrait {
  @media screen and (min-width: 600px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1650px) {
    @content;
  }
}

///////////////

@mixin laptop-1 {
  @media screen and (max-width: 1600px) {
    @content;
  }
}

@mixin tablet-landscape {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin phone-portrait {
  @media screen and (max-width: 600px) {
    @content;
  }
}
