@import "../../styles/variables.scss";

.links {
  position: fixed;
  z-index: 7;
  top: 20px;
  right: 26px;
}

.links__icon {
  margin: 1.3rem;
  transition: 0.3s ease;

  &:hover {
    color: $active;
  }
}

@include smartphoneL {
  .links {
    top: calc(100vh - 87px);
    right: calc(50% - 129px);
  }
}
