@import "../../styles/variables.scss";

.l-about {
  display: flex;
  flex-wrap: nowrap;
}

  .l-about__column--1 {
    flex-basis: 97%;
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
  } 

    .c-about-content {
      flex-basis: 90%;
    } 

      .c-about-content__skills-graph {
        width: 80%;
        margin-bottom: 30px;
      }

        .c-about-content__skill-container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 2px solid grey;
        }

          .c-about-content__color-line--web {
            width: 85%;
            border-top: 6px solid $active;
            margin-top: -4px;
          }

          .c-about-content__color-line--html {
            width: 65%;
            border-top: 6px solid $active;
            margin-top: -4px;
          }

          .c-about-content__color-line--java {
            width: 70%;
            border-top: 6px solid $active;
            margin-top: -4px;
          }

  .l-about__column--2 {
    flex-basis: 3%;
    overflow: hidden;
    position: relative;
   }

    .c-about__rectangle {
      height: 100%;
      width: 60%;
      margin: 0 0 0 auto;
      background: url("./building.jpg") no-repeat;
      background-size: 400%;
      background-position: right bottom;
    }

    .c-about__rectangle-overlay {height: 100%;
      width: 100%;
      background: $dark-overlay;
    }

    .c-about__hexagon {
      position: absolute;
      top: -199px;
      right: -240px;
      width: 600px;
      fill: $color-overlay;
    }

@include tablet-portrait {

  .l-about__column--1 {
    align-items: center;
  }

    .c-about-content {
      flex-basis: 60%;
    }

      .c-about-content__skills-graph {
        width: 60%;
      }
}

@include tablet-landscape {

  .l-about {
    padding-top: 0;
  }

    .l-about__column--1 {
      flex-basis: 64%;
      height: 100%;
      justify-content: flex-end;
    } 

      .c-about-content {
        flex-basis: 70%;
        margin-right: 2em;
      } 

  .l-about__column--2 {
    flex-basis: 36%;
   }
}


@include laptop {

  .l-about__column--1 {
    flex-basis: 50%;
  } 

  .l-about__column--2 {
    flex-basis: 50%;
  }

    .c-about__hexagon {
      top: -799px;
      right: -451px;
      width: 1138px;
    }
}

@include desktop {

  .c-about__hexagon {
    top: -1073px;
    right: -593px;
    width: 1500px;
  }
}