@import "../../styles/variables.scss";

.about {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.about__content-container {
  flex-basis: 56%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.about__content {
  width: 85%;
  padding: 10%;
  font-size: 30px;
}

.about__skills {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 2px solid grey;

  h3 {
    display: inline-block;
  }

  span {
    display: inline-block;
    font-size: 1.17em;
    font-weight: bold;
  }
}

.skills__line--web {
  width: 44%;
  border-top: 6px solid $active;
  margin-top: -4px;
}
.skills__line--html {
  width: 35%;
  border-top: 6px solid $active;
  margin-top: -4px;
}
.skills__line--java {
  width: 39%;
  border-top: 6px solid $active;
  margin-top: -4px;
}

// Shapes

.about__shapes-container {
  position: relative;
  height: 100vh;
  flex-basis: 44%;
  overflow: hidden;
}

.about__rectangle {
  height: 100%;
  width: 60%;
  margin: 0 0 0 auto;
  background: url("./building.jpg") no-repeat;
  background-size: 400%;
  background-position: right bottom;
}

.about__rectangle-overlay {
  height: 100%;
  width: 100%;
  background: $dark-overlay;
}

.about__hexagon {
  position: absolute;
  bottom: 23%;
  width: 1430px;
  fill: $color-overlay;
}

// media queries

@include laptop {
  .about__content {
    font-size: 13px;
  }
}

@include tablet-portrait {
  .about__content {
    width: 90%;
    font-size: 16px;
  }

  .about__skills {
    width: 90%;
  }
}

@include phone-portrait {
  .about__content-container {
    flex-basis: 90%;
    align-items: center;
  }

  .about__shapes-container {
    flex-basis: 10%;
  }

  .about__content {
    width: 100%;
    font-size: 10px;
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .about__skills {
    font-size: 7px;
  }
}

@include phone-landscape {
  .about__content-container {
    flex-basis: 90%;
  }

  .about__shapes-container {
    flex-basis: 10%;
  }

  .about__content {
    flex-basis: 80%;
    font-size: 9px;
    margin-top: 0;
  }

  .skills__container {
    display: none;
  }
}
