@import "../../../../styles/variables.scss";


.l-single-project-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}

  .l-single-project__column--1 {
    flex-basis: 100%;
  }

    .c-single-project-images__img--top {
      padding: 1em 0;
    }  

  .l-single-project__column--2 {
    flex-basis: 100%;
  }

    .c-single-project__info {
      padding-top: 1em;
    }

      .c-single-project__title {
        margin: 0 0 1em 0;
      }

      .c-single-project__text-container {
        display: flex;
        justify-content: space-between;
      }

        .c-single-project__text--left {
          font-weight: bold;
          color: black;
          margin: 0.3em 0;
        }

        .c-single-project__text--right {
          margin: 0.3em 0;
        }

        .c-single-project__links-title {
          margin: 2em 0 0 0;
          text-align: center;
          border-top: 1px solid black;
          padding: 1em 0;
        }

        .c-single-project__links-container {
          display: flex;
          justify-content: space-evenly;
          width: 100%;
          margin: 1em 0 2em 0;
        }
  
  .l-single-project__column--3 {
    flex-basis: 100%;
  }

    .c-single-project__link {
      font-size: 1.3em;
      padding: 1em 1em;
    }

    .c-single-project__icon {
      margin: 0 10px;
    }
  
// ------ Media queries ---------// 

@include tablet-portrait {

  .l-single-project {
    padding-top: 0;
  }

    .l-single-project-container {
      height: calc(100% - 5em);
      margin-top: 5em;
    }

      .l-single-project__column--1 {
        margin: 0 5em;
      }

      .l-single-project__column--2 {
        margin: 0 5em;
      }

      .c-single-project__link {
        margin: 0 2.5em;
        padding: 1em 1em;
      }
}

@include tablet-landscape {
   
  .l-single-project__column--1 {
    margin: 0em 2em 0 5em;
    flex-basis: 40%;
  }

  .l-single-project__column--2 {
    margin: 1em;
    flex-basis: 38%;
  }

  .c-single-project__link {
    margin: 1em 2.5em;
  }
  
}

@include laptop {

  .l-single-project__column--1 {
    margin: 0 7em 0 10em;
    flex-basis: 45%;
  }

    .c-single-project-images {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

      .c-single-project-images__img--top {
        padding: 4em 0;
      }

      .c-single-project-images__img--bottom {
        width: 44%;
        margin-top: 4em;
      }


  .l-single-project__column--2 {
    margin: 0;
    flex-basis: 25%;
  }

    .c-single-project__info {
      padding-top: 4.4em;
    }

      .c-single-project__links-title {
        margin: 4em 0 0 0 ;
        border: none;
        text-align: left;
      }

      .c-single-project__links-container {
        justify-content: space-between;
        width: 40%;
      }



    .c-single-project__img-container {
      padding-top: 27em;
    }

  .c-single-project__link {
    margin: 1em 4em;
  }

}

@include desktop {
  .l-single-project__column--1 {
    margin: 0 7em 0 15em;
    flex-basis: 43%;
  }
  
  .l-single-project__column--2 {
    margin: 0;
    flex-basis: 20%;
  }

  .c-single-project__link {
    margin: 1em 6em;
  }
}
