@import "../../../styles/variables.scss";

//-- The top bar which is shown on mobile devices --// 

.c-navigation__top-bar {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  z-index: 1;
  background: #fff;
  -webkit-box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.32);
}

.c-navigation {
  position: fixed;
  top: 0;
  left:-70%;
  width: 70%;
  height: 100%;
  background: #fff;
  z-index: 10;
  transform: translateX(0%);
  transition: 0.1s ease-out;
}

  .c-navigation__ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

    .c-navigation__li {
      margin: 0.7em;
    }

    .c-navigation__link {
      font-size: 1.7em;
      padding: 0.3em;
      color: black;
    }

.c-hamburger-btn {
  position: absolute;
  top: 12px;
  right: -45px;
  transform: translateX(0);
}


  .c-hamburger-btn__line{
    width: 30px;
    margin-bottom: 5px;
    height: 5px;
    background: black;
  }


  .js-navigation--open {
    transform: translateX(100%);
 }
 
.js-hamburger-btn--transformed {

  transform: translateX(-45px);

    .c-hamburger-btn__line:nth-child(1) {
      transform: rotate(44deg);
      transform-origin: top left;
    }

    .c-hamburger-btn__line:nth-child(2) {
      opacity: 0;
    }

    .c-hamburger-btn__line:nth-child(3) {
      transform: rotate(-44deg);
      transform-origin: bottom left;
    }
  }


@include tablet-portrait {

  .c-navigation__top-bar {
    display: none;
  }

  .c-hamburger-btn {
    display: none;
  }

  .mobile-nav--open {
    transform: translateX(0);
 }

  .c-navigation {
    top: 110px;
    left: -6px;
    width: auto;
    background: none;
  }

    .c-navigation__ul {
      margin-top: 0;
    }

      .c-navigation__li {
        margin: 2.5em 0;
        transform: rotatez(-90deg);
      }

        .c-navigation__link {
            font-size: 1.2em;
            padding: 0.3em;
          }

  .on-dark-background {
    color: #ffff;
  }
}

@include desktop { 

  .c-navigation {
    font-size: 1.2rem;
    top: 141px;
  }

}

@include desktop-large {

  .c-navigation {
    top: calc(50vh - 383px);
    left: calc(50% - 999px);
  }

}

.active {
  color: $active;
  pointer-events: none;
}