@import "../../styles/variables.scss";

.home {
  height: 100%;
  width: 100%;
  background: url("./home-background.jpg") no-repeat fixed;
  background-size: cover;

  .home__overlay {
    height: 100%;
    width: 100%;
    background: $light-overlay;
    position: relative;
    overflow: hidden;

    .home__header {
      width: 590px;
      position: absolute;
      z-index: 3;
      bottom: 63px;
      right: 172px;
    }

    .home__hex--big {
      height: 2400px;
      width: 2079px;
      fill: $dark-overlay;
      position: absolute;
      top: calc(50% - 1799px);
      right: calc(50% - 90px);
    }

    .home__hex--small {
      height: 800px;
      width: 693px;
      position: absolute;
      top: calc(50% - 400px);
      left: calc(50% - 266px);
      fill: $color-overlay;
    }
  }
}
