@import "../../styles/variables.scss";

.home {
  background: url("./home-background.jpg") no-repeat fixed;
  background-size: cover;
}

.home__overlay {
  height: 100%;
  width: 100%;
  background: $light-overlay;
  position: absolute;
  overflow: hidden;
}

.home__header {
  width: 40%;
  font-size: 33px;
  position: absolute;
  z-index: 3;
  bottom: 100px;
  right: 172px;
}

//Media queries

@include laptop {
  .home__header {
    font-size: 20px;
  }
}

@include tablet-landscape {
  .home__header {
    font-size: 18px;
  }
}

@include tablet-portrait {
  .home__header {
    width: 70%;
    right: 10%;
    bottom: 15%;

    a {
      font-size: 28px;
    }
  }
}

@include phone-portrait {
  .home__header {
    right: 7%;
    bottom: 25%;
    font-size: 13px;

    a {
      font-size: 20px;
    }
  }
}

@include phone-landscape {
  .home__header {
    right: 3%;
    bottom: 23%;
    font-size: 13px;
  }
}
