//Media queries

@include laptop {
  .home__header {
    font-size: 20px;
  }
}

@include tablet-landscape {
  .home__header {
    font-size: 18px;
  }
}

@include tablet-portrait {
  .home__header {
    width: 70%;
    right: 10%;
    bottom: 15%;

    a {
      font-size: 28px;
    }
  }
}

@include phone-portrait {
  .home__overlay {
    overflow: auto;
    min-height: 150%;
  }
  .home__header {
    font-size: 22px;
    justify-content: left;

    a {
      font-size: 20px;
    }
  }
}

@include phone-landscape {
  .home__header {
    right: 3%;
    bottom: 23%;
    font-size: 13px;
  }
}
