@import "../../../styles/variables.scss";
.links {
  position: fixed;
  z-index: 7;
  top: 10px;
  right: 20px;
  display: none;
}

.links__icon {
  margin: 0.8em;
  transition: 0.3s ease-in-out;

  &:hover {
    color: $active;
  }
  
}

.js-link-is-on-dark-bacground {
  color: #fff;
}

//---- Media queries -----//

@include tablet-portrait {
  .links {
    display: flex;
  }
}

@include desktop-large {
  .links {
    top: calc(50vh - 480px);
    right: calc(50% - 980px);
  }
}