@import "../../../styles/variables.scss";
.links {
  position: fixed;
  z-index: 7;
  top: 10px;
  right: 20px;
  display: none;
}

.links__icon {
  margin: 0.8em;
}

//---- Media queries -----//

@include tablet-portrait {
  .links {
    display: flex;
  }
}

@include desktop-large {
  .links {
    top: calc(50vh - 480px);
    right: calc(50% - 980px);
  }
}