


}
.on-dark-background {
  color: #ffff;
}

@include laptop {
  .links__icon {
    font-size: 21px;
  }
}

@include tablet-portrait {
  .links__icon {
    font-size: 27px;
  }
}

@include phone-portrait {
  // .links {
  //   top: calc(100% - 80px);
  //   right: 10%;
  //   width: 80%;
  //   display: flex;
  //   justify-content: space-evenly;
  // }
  // .links__icon {
  //   font-size: 25px;
  // }

  .links {
    display: none;
  }
}

@include phone-landscape {
  .links {
    display: none;
  }
}
