@import "../../../styles/variables.scss";

.figure {
  margin-top: 3em;

  &__title {
    margin: 0.7em 0 0.2em 0;
  }

  &__content {
    margin: 0;
  }
}

.img__container {
  position: relative;
  -webkit-box-shadow: 0px 0px 53px 3px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 0px 53px 3px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 0px 53px 3px rgba(0, 0, 0, 0.16);
}

.img__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  opacity: 0;
  // background: $color-overlay;
  // -webkit-box-shadow: 0px 0px 77px 0px rgba(255, 222, 0, 0.59);
  // -moz-box-shadow: 0px 0px 77px 0px rgba(255, 222, 0, 0.59);
  // box-shadow: 0px 0px 77px 0px rgba(255, 222, 0, 0.59);
  // transition: 0.5s ease-in-out;

  // &:hover {
  //   opacity: 1;
  //   transform: translate(0.7em, -0.7em);
  // }
}

.img__text {
  color: #fff;
  margin-left: 1.5em;
}

.figure__title {
  color: black;
}

@include laptop {
  .img__overlay {
    background: $color-overlay;
    -webkit-box-shadow: 0px 0px 77px 0px rgba(255, 222, 0, 0.59);
    -moz-box-shadow: 0px 0px 77px 0px rgba(255, 222, 0, 0.59);
    box-shadow: 0px 0px 77px 0px rgba(255, 222, 0, 0.59);
    transition: 0.5s ease-in-out;

    &:hover {
      opacity: 1;
      transform: translate(0.7em, -0.7em);
    }
  }
  .figure__side-city {
    width: 70%;
  }

  .figure__favorite-collection {
    width: 60%;
    margin: 7em 0 0 3em;
  }

  .figure__one-hundred-lights {
    width: 60%;
    margin: 0 0 0 8em;
  }
}
