@import "../../../styles/variables.scss";

.c-project {
  margin-top: 3em;
}

  .c-project-img {
    position: relative;
    -webkit-box-shadow: 0px 0px 53px 3px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 0px 53px 3px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 53px 3px rgba(0, 0, 0, 0.16);
  }

    .c-project-img__overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: flex-end;
      opacity: 0;
    }

    .c-project-img__text {
      color: #fff;
      margin-left: 1.5em;
    }

  .c-project__title {
    margin: 0.7em 0 0.2em 0;
    color: black;
  }
  
  .c-project__content {
    margin: 0;
  }

  //---- Media queries ------//

@include laptop {

  .c-project-img__overlay {
    background: $color-overlay;
    -webkit-box-shadow: 0px 0px 77px 0px rgba(255, 222, 0, 0.59);
    -moz-box-shadow: 0px 0px 77px 0px rgba(255, 222, 0, 0.59);
    box-shadow: 0px 0px 77px 0px rgba(255, 222, 0, 0.59);
    transition: 0.5s ease-in-out;

    &:hover {
      opacity: 1;
      transform: translate(0.7em, -0.7em);
    }
  }

  .c-project--side-city {
    width: 70%;
  }

  .c-project--favorite-collection {
    width: 60%;
    margin: 7em 0 0 3em;
  }

  .c-project--one-hundred-lights {
    width: 60%;
    margin: 0 0 0 8em;
  }
}
